/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1624715717287');
	src: url('iconfont.eot?#iefix-1624715717287') format('embedded-opentype'),
		url('iconfont.woff2?1624715717287') format('woff2'),
		url('iconfont.woff?1624715717287') format('woff'),
		url('iconfont.ttf?1624715717287') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-accessibility:before {
			content: '\ea01';
		}

		 .iconfont-address:before {
			content: '\ea02';
		}

		 .iconfont-box:before {
			content: '\ea03';
		}

		 .iconfont-cart:before {
			content: '\ea04';
		}

		 .iconfont-chart:before {
			content: '\ea05';
		}

		 .iconfont-checked:before {
			content: '\ea06';
		}

		 .iconfont-close2:before {
			content: '\ea07';
		}

		 .iconfont-comment:before {
			content: '\ea08';
		}

		 .iconfont-edit:before {
			content: '\ea09';
		}

		 .iconfont-lang:before {
			content: '\ea0a';
		}

		 .iconfont-login:before {
			content: '\ea0b';
		}

		 .iconfont-mail:before {
			content: '\ea0c';
		}

		 .iconfont-Minus:before {
			content: '\ea0d';
		}

		 .iconfont-phone:before {
			content: '\ea0e';
		}

		 .iconfont-phone2:before {
			content: '\ea0f';
		}

		 .iconfont-Plus:before {
			content: '\ea10';
		}

		 .iconfont-search:before {
			content: '\ea11';
		}

		 .iconfont-shiping:before {
			content: '\ea12';
		}

		