.top-banner {
    padding: 60px 0 80px 0;

    .content {
        padding-right: 130px;
        position: relative;

        .tag {
            background: #0063F7;
            border-radius: 50px;
            color: #fff;
            line-height: 24px;
            padding: 0 12px;
            display: inline-block;
            margin-bottom: 8px;
        }

        .title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1.3;
        }

        p {
            font-size: 16px;
            color: #555770
        }

        &__v2 {
            padding-right: 15px
        }
    }

    .img {
        position: relative;

        &::before {
            content: "";
            background: url(images/graphics/bg-layer.png);
            width: 163px;
            height: 294px;
            position: absolute;
            left: -18px;
            top: -32px;
            z-index: -1;
        }

        &__v2 {
            &::before {
                display: none;
            }
        }
    }

    .check {
        margin-bottom: 40px;

        li {
            position: relative;
            margin-bottom: 20px;
            color: #555770;
            font-size: 13px;
            padding-left: 24px;

            &::before {
                content: "";
                background: url(images/icons/checked.svg);
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
                top: 1px;
            }
        }
    }

    .flex-btn {
        a {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .doi-tac {
        position: absolute;
        bottom: 0;

        .grid__4 {
            column-gap: 16px;
            row-gap: 16px;
        }

        p {
            font-size: 12px;
            margin-bottom: 10px;
        }

        &__v2 {
            position: static;
            margin-top: 80px;
        }
    }

    @media (max-width: 1366px) {
        .content {
            .title {
                font-size: 32px;
            }
        }
    }

    @media (max-width: 991px) {
        padding: 30px 0 50px 0;

        .row {
            align-items: center;
        }

        .content {
            padding-right: 40px;

            .title {
                font-size: 24px;
            }

            &__v2 {
                padding-right: 15px
            }
        }

        .doi-tac {
            position: static;
            margin-top: 24px;
        }
    }

    @media (max-width: 767px) {
        .content {
            padding-right: 15px;
            margin-bottom: 30px;
        }

        .doi-tac {
            position: static;
            margin-top: 24px;
        }
    }

    @media (max-width: 576px) {
        .grid__4 {
            column-gap: 8px;
            row-gap: 8px;
        }
    }
}

.box-register-service {
    background: #F2F2F5 url(images/graphics/bg-dang-ky.png) no-repeat right top;
    border-radius: 6px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;

    .title {
        font-size: 20px;
        width: 250px;
        font-weight: bold
    }

    .box-search {
        width: 800px;
        width: calc(100% - 250px);
        padding-left: 24px;
    }

    .tag {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;

        a {
            padding: 0 16px;
            background: #FAFAFC;
            border-radius: 73px;
            margin-right: 8px;
            margin-bottom: 8px;
            line-height: 32px;
            font-size: 13px
        }
    }

    @media (max-width: 767px) {
        padding: 20px;

        .title {
            width: 100%;
            margin-bottom: 20px;
        }

        .box-search {
            width: 100%;
            padding-left: 0;
        }
    }
}

.list-service {
    column-gap: 24px;
    row-gap: 24px;

    .swiper-container {
        padding: 28px 15px 30px 15px;
        margin: -10px -15px -30px -15px;

        .swiper-button-prev,
        .swiper-button-next {
            background: rgba(79, 6, 75, 0.8);
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border: 0;
            line-height: 32px;
            color: #fff;
            font-size: 20px;
            display: none;
        }
    }

    .itemt {
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #E4E4EB;
        border-radius: 12px;
        padding: 24px;
        position: relative;

        .title {
            font-size: 14px;
            font-weight: bold;
            color: #4F064B;
            margin-bottom: 10px;
            height: 16px;
            overflow: hidden;
        }

        .des {
            height: 42px;
            overflow: hidden;
        }

        p {
            font-size: 14px;
            color: #555770
        }

        .price {
            font-size: 14px;
            color: #8F90A6;
            margin-bottom: 1rem;
            line-height: 1.3;

            .uppercase {
                font-size: 12px;
                text-transform: uppercase;
            }

            .all {
                font-size: 28px;
                font-weight: bold;
                color: #1C1C28;

                span {
                    font-weight: 400;
                    border-bottom: 1px solid;
                    line-height: 1;
                    display: inline-block;
                }
            }
        }

        .service {
            border-top: 1px solid #e5e5e5;
            padding-top: 24px;

            .title {
                margin-bottom: 20px;
            }

            .check {
                text-align: left;
                margin-bottom: 24px;

                li {
                    position: relative;
                    margin-bottom: 10px;
                    color: #555770;
                    font-size: 13px;
                    padding-left: 24px;

                    &::before {
                        content: "";
                        background: url(images/icons/checked.svg);
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0;
                        top: 1px;
                    }
                }
            }

            .grid {
                column-gap: 16px;
                row-gap: 16px;
            }
        }

        &.focus,
        &:hover {
            border: 1px solid #fff;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

            .tag {
                background: linear-gradient(131.88deg, #FF8800 -1.76%, #E63535 134.61%);
                border-radius: 6px 6px 0px 0px;
                color: #fff;
                line-height: 28px;
                position: absolute;
                top: -28px;
                left: 0;
                padding: 0 16px;
            }

            .price {
                .all {
                    color: #E63535;
                }
            }
        }
    }

    &__v2 {
        column-gap: 1px;
        row-gap: 16px;

        .itemt {
            padding: 16px;
            border: 0;

            .des {
                height: 28px;
                font-size: 10px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            .des__2 {
                text-transform: inherit;
                font-size: 12px;
                height: 52px;
            }

            .price {
                .price-down {
                    color: #E53535;
                }
            }

            .goi {
                display: flex;
                justify-content: center;
                font-size: 12px;
                color: #8F90A6;
                margin-bottom: 24px;

                span {
                    margin: 0 5px;
                }
            }

            .service {
                .title {
                    margin-bottom: 10px;
                    text-align: left;
                }
            }

            &.focus,
            &:hover {
                margin: 0 -1px;
                // box-shadow: 0px 15px 20px rgba(27, 28, 41, 0.2);
                position: relative;
                z-index: 2;
            }
        }

    }

    @media (max-width: 1199px) {
        .itemt {
            padding: 16px 10px;
        }

        &__v2 {
            .swiper-container {

                .swiper-button-prev,
                .swiper-button-next {
                    display: block;
                }
            }

            .itemt {
                .price .all {
                    font-size: 24px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .swiper-container {
            margin: -20px -15px -30px -15px;

            .swiper-button-prev,
            .swiper-button-next {
                display: block;
            }
        }
    }

}

.box-signature__v2 {
    .infobox {
        background: #F2F2F5 !important;

        &::after {
            border-color: #F2F2F5 transparent !important;
        }
    }

    .list-service__v2 {
        .itemt {
            border: 1px solid #E4E4EB;
            margin: 0 1px;
        }
    }
}

.box-customer {
    background: #750E6C;
    padding: 100px 0;

    .article-itemt {
        margin-bottom: 0;

        .article-thumb {
            width: 410px;
            padding: 17px;
            border-radius: 6px;

            &::before {
                content: "";
                background: #FFB900;
                width: 84px;
                height: 84px;
                border-radius: 6px;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: "";
                background: url(images/graphics/bg-layer.png) no-repeat right;
                background-size: cover;
                width: 125px;
                height: 228px;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        .article-content {
            width: calc(100% - 410px);
            padding-left: 100px;
            color: #fff;
            font-size: 24px;
            padding-top: 37px;
            padding-bottom: 37px;
            position: relative;

            &::before {
                content: "";
                background: rgba(255, 255, 255, .2);
                height: 1px;
                left: 100px;
                right: 0;
                position: absolute;
                top: 20px;
            }

            &::after {
                content: "";
                background: rgba(255, 255, 255, .2);
                height: 1px;
                left: 100px;
                right: 0;
                position: absolute;
                bottom: 20px;
            }

            .logo {
                margin-bottom: 60px;
            }

            .star {
                margin-bottom: 24px;
                color: #FFB900;
                font-size: 16px;
            }

            .cv {
                color: #C7C9D9;
                font-size: 14px;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(79, 6, 75, .8);
        width: 32px;
        height: 32px;
        border-radius: 6px;
        border: 0;
        line-height: 32px;
        color: #fff;
        font-size: 20px;
        top: 37px;
        margin-top: 0;
    }

    .swiper-button-prev {
        left: inherit;
        right: 40px;
    }

    .swiper-pagination {
        width: auto;
        left: 505px;
        bottom: -5px;
    }

    @media (max-width: 991px) {
        .article-itemt {
            .article-thumb {
                width: 45%;
            }

            .article-content {
                padding-left: 30px;
                width: 55%;

                &::before,
                &::after {
                    left: 30px;
                }

                .logo {
                    margin-bottom: 20px;
                }
            }
        }

        .swiper-pagination {
            left: 0;
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        .article-itemt {
            .article-thumb {
                width: 100%;
            }

            .article-content {
                padding-left: 15px;
                width: 100%;

                &::before,
                &::after {
                    left: 15px;
                }
            }
        }
    }
}

.box-why-choose {

    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(79, 6, 75, 0.8);
        width: 32px;
        height: 32px;
        border-radius: 6px;
        border: 0;
        line-height: 32px;
        color: #fff;
        font-size: 20px;
    }

    .grid {
        .itemt {
            padding: 40px;
            background: #FEFEFE;
            border-radius: 12px;
            transition: 0.2s all;

            .ava {
                background: #F5F7FA;
                border-radius: 10px;
                position: relative;
                width: 64px;
                height: 64px;
                margin-bottom: 24px;

                img {
                    max-height: 95%;
                    max-width: 95%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            .content {
                h3 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }

                p {
                    color: #555770;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            &:hover {
                box-shadow: 0px 5px 50px rgba(27, 28, 41, 0.2);
            }
        }
    }

    .doi-tac {
        max-width: 1000px;
        margin: 0 auto;

        div {
            height: 60px;
            position: relative;

            img {
                max-height: 95%;
                max-width: 95%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    @media (max-width:767px) {
        .grid {
            .itemt {
                padding: 20px 15px;

                .content {
                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        .grid {
            column-gap: 16px;
            row-gap: 16px;

            .itemt {
                height: 100%;
            }
        }

        .swiper-container {
            margin-right: -15px;
            width: calc(100% + 15px);

            .swiper-button-next {
                right: 15px
            }
        }

    }
}

.box-help-us {
    background: #4F064B;
    padding: 80px 0;

    .row1 {
        color: #E4E4EB;
        font-size: 16px;
        padding-bottom: 48px;
        margin-bottom: 48px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .row {
            align-items: flex-end;
        }
    }

    .txt-content {
        padding-left: 60px;
    }

    .title-cate {
        color: #fff;
        font-weight: 400;
        font-size: 48px;
    }

    .grid__3 {
        .itemt {
            background: #750E6C;
            border-radius: 12px;
            padding: 35px 35px 80px 35px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            position: relative;

            .icon {
                margin-bottom: 24px;
            }

            svg {
                width: 48px;
                height: 48px;
            }

            span {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px
            }

            &:hover {
                box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .article-itemt {
        .article-content {
            .title_new {
                color: #fff;

                a {
                    color: #fff;
                }
            }

            .des {
                color: #C7C9D9;
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 1366px) {
        padding: 60px 0;

        .title-cate {
            font-size: 36px;
        }
    }

    @media (max-width: 1199px) {
        .grid__3 {
            .itemt {
                padding: 20px 20px 80px 20px;

                span {
                    bottom: 20px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .txt-content {
            padding-left: 15px;
        }

        .grid__3 {
            grid-template-columns: repeat(2, 1fr);
        }

        .btn-default {
            font-size: 12px;
        }
    }

    @media (max-width: 767px) {
        padding: 40px 0 10px 0;

        .title-cate {
            font-size: 30px;
        }

        .txt-content {
            margin-top: 30px;
        }

        .grid__3 {
            grid-template-columns: repeat(3, 1fr);

            .itemt {
                .icon {
                    margin-bottom: 14px;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .btn-default {
            font-size: 14px;
        }
    }

    @media (max-width: 576px) {
        .row1 {
            padding-bottom: 24px;
            margin-bottom: 24px;
        }

        .grid__3 {
            column-gap: 8px;
            grid-template-columns: repeat(1, 1fr);

            .itemt {
                padding: 20px 10px 10px 10px;
                font-size: 13px;

                span {
                    position: static;
                }

                .icon {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.box-video {
    .article-itemt.full {
        .article-thumb {
            &::after {
                content: "";
                background: url(images/graphics/bg-layer.png) no-repeat right;
                background-size: cover;
                width: 125px;
                height: 228px;
                position: absolute;
                left: -30px;
                bottom: 20px;
            }

            .thumb_img {
                z-index: 2;
            }
        }

        .article-content .title_new {
            font-size: 20px;
        }
    }

    .list {
        padding-left: 40px;
    }

    @media (max-width: 991px) {
        .list {
            padding-left: 15px;
            margin-top: 15px;
        }
    }
}

.box-article {
    .title-cate {
        font-size: 24px;
    }

    .grid {
        position: relative;
        column-gap: 24px;
        row-gap: 24px;

        &::before {
            content: "";
            background: url(images/graphics/bg-layer.png) no-repeat right;
            background-size: cover;
            width: 125px;
            height: 228px;
            position: absolute;
            left: -30px;
            top: -20px;
        }

        .article-itemt {
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 0;
            transition: 0.3s all;

            .article-thumb {
                .thumb_img {
                    border-radius: 0;
                }
            }

            .article-content {
                padding: 9px 24px 24px 24px;
                overflow: hidden;
            }

            &:hover {
                box-shadow: 0px 5px 50px rgba(27, 28, 41, 0.2);
            }
        }
    }

    &.not-before {
        .grid {
            &::before {
                display: none;
            }
        }
    }

    @media (max-width: 991px) {
        .grid__3 {
            .article-itemt {
                .article-content {
                    padding: 0px 10px 10px 10px;

                    .title_new {
                        font-size: 14px;
                    }

                    .date {
                        margin-bottom: 8px;
                        font-size: 10px;
                    }

                    .des {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {

        .grid__3,
        .grid__4 {
            grid-template-columns: repeat(1, 1fr);

            .article-itemt {
                .article-thumb {
                    width: 40%;
                    margin-bottom: 0;
                }

                .article-content {
                    padding: 10px 10px 0px 15px;
                    width: 60%;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .grid__2 {
            grid-template-columns: repeat(1, 1fr);
        }

        .grid__3,
        .grid__4 {
            .article-itemt {
                .article-thumb {
                    width: 100%;
                    margin-bottom: 0;
                }

                .article-content {
                    padding: 10px;
                    width: 100%;

                    .des {
                        display: block;
                    }
                }
            }
        }
    }
}

.box-dangky {
    background: #750E6C;
    padding: 80px 0;
    color: #fff;

    .min-width {
        max-width: 900px;
        margin: 0 auto 40px;
    }

    .form-default {
        max-width: 380px;
        margin: 0 auto;

        .form-control {
            height: 56px;
            font-size: 14px;
        }

        .btn {
            line-height: 54px;
        }
    }
}

.price-filter-container {
    margin-bottom: 30px;
}

// Range slide
.range-holder {
    margin: 2em auto;
    padding: 20px 0 20px 0;
    width: 960px;
    max-width: 100%;
    display: flex;
    position: relative;
    z-index: 4;

    .range-input {
        width: 170px;
        display: flex;
        margin-top: -26px;
        padding-right: 16px;

        span {
            font-size: 13px;
            text-align: right;
            padding-right: 10px;
            width: 100px;
        }

        input {
            color: #750E6C;
            font-weight: bold;
            width: 50px;
            width: calc(100% - 100px);
            height: 36px;
            padding: 0;
            text-align: center;
            border-radius: 6px;
            border: 1px solid #E4E4EB;
        }
    }

    .dragdealer {
        width: calc(100% - 170px);
        position: relative;
        height: 6px;
        background: #E4E4EB;
        border-radius: 8px;
    }

    .dragdealer .handle {
        position: absolute;
        top: 0;
        left: 0;
    }

    .stripe {
        background: #750E6C;
        position: absolute;
        top: 0;
        left: 0;
        height: 6px;
        border-radius: 8px;
        max-width: 100%;
    }

    #green-highlight {
        position: absolute;
        top: 0;
        left: 67px;
        height: 6px;
        opacity: .5;
        background: #8dc63f;
        display: none;
    }

    #orange-highlight {
        position: absolute;
        top: 0;
        left: 381px;
        height: 6px;
        opacity: .5;
        background: #e07c00;
        display: none;
    }

    #blue-highlight {
        position: absolute;
        top: 0;
        left: 814px;
        height: 6px;
        opacity: .5;
        background: #008da8;
        display: none;
    }

    .square {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -13px;
        margin-left: 0;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: #fff;
        border: 4px solid #750E6C;
        border-radius: 50%;
    }

    .menu-line {
        width: 50%;
        margin: 2px auto;
        height: 5px;
        background: #FFF;
        display: block;
    }

    .infobox {
        width: 170px;
        height: 65px;
        background: #FFF;
        padding: 0px;
        border-radius: 8px;
        position: absolute;
        bottom: -100px;
        left: -72px;
    }

    .infobox:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0px 10px 10px 10px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -10px;
        left: 50%;
        margin-left: -10px;
    }

    .titlebar {
        padding: .5em;
        line-height: 1.5em;
        font-size: 14px;
    }

    #plan-holder {
        font-weight: bold;
    }

    .innerbox {
        padding: 0 .5em;
    }

    .info-price {
        color: #E63535;
        font-size: 14px;
        line-height: 1.8em;
    }


    .annual-label {
        color: #505054;
        font-size: 14px;
        font-weight: bold;
        width: 110px;
        line-height: 1.8em;
    }

    .annual-price {
        color: #28293D;
        font-size: 16px;
        font-weight: bold;
        margin: -40px 0 0 -1px;
        width: 30px;
        text-align: center;
        opacity: 0;
    }

    [class*="dragdealer-"] {
        position: absolute;
        bottom: -40px;
        font-size: 12px;
    }

    .dragdealer-start {
        left: 0;
        top: -35px;
        font-size: 16px;
        bottom: inherit !important;
    }

    .dragdealer-end {
        right: 0;
        top: -35px;
        font-size: 16px;
        bottom: inherit !important;
    }

    &__v2 {
        .range-input {
            width: 90px;
            text-align: left;
            display: block;

            span {
                color: #555770;
                font-size: 14px
            }
        }

        .dragdealer {
            width: calc(100% - 90px);
            background: rgba(228, 228, 235, .4);
        }

        .infobox {
            background: #F2F2F5 !important;
            height: 35px;
            bottom: -65px;
            text-align: center;

            .innerbox {
                display: none
            }

            &::after {
                border-color: #F2F2F5 transparent !important;
            }
        }
    }

}

// End Range slide

.box-customer__v2 {
    background: #4F064B;
    color: #EBEBF0;
    overflow: hidden;

    .title-cate {
        margin-bottom: 40px;
    }

    .grid {
        column-gap: 24px;
        row-gap: 24px;

        .itemt {
            background: #6E1C6A;
            border-radius: 12px;
            padding: 40px 40px 130px 40px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            height: 100%;
            font-size: 14px;
            position: relative;

            .flex {
                justify-content: center;
                align-items: center;
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 16px;

                svg {
                    width: 22px;
                    height: 22px;
                    color: #FFDC52;
                    margin-right: 10px;
                }
            }

            .logo {
                position: absolute;
                bottom: 30px;
                left: 0;
                right: 0;
            }

            &:hover {
                box-shadow: 0px 20px 32px rgba(0, 0, 0, .2);
            }
        }
    }

    .grid__3 {
        &::before {
            content: "";
            background: url(images/graphics/bg-layer.png) no-repeat right;
            background-size: cover;
            transform: rotate(-90deg);
            width: 139px;
            height: 228px;
            position: absolute;
            right: 0px;
            bottom: -70px;
        }
    }

    .doi-tac {
        max-width: 650px;
        margin: 0 auto;
    }

    @media (max-width: 991px) {
        .grid {
            .itemt {
                padding: 20px;

                .flex {
                    font-size: 30px;
                    margin-bottom: 6px;
                }

                .logo {
                    position: static;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .grid__3 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 576px) {
        .grid__3 {
            grid-template-columns: repeat(1, 1fr);
        }

        .grid__5 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.box-question {
    .text {
        padding-right: 130px
    }

    .box-help-us {
        padding: 0 !important;
        background: none;
    }

    @media (max-width: 991px) {
        .text {
            padding-right: 15px
        }
    }
}

.box-choose-service {
    .grid {
        column-gap: 24px;
        row-gap: 24px;
    }

    .itemt {
        padding: 24px;
        background: #F2F2F5;
        border-radius: 6px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;

        .ava {
            background: #fff;
            border-radius: 10px;
            position: relative;
            width: 64px;
            height: 64px;
            margin-bottom: 60px;

            img {
                max-height: 95%;
                max-width: 95%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.3;
            background: url(images/icons/icon-print.png) no-repeat right;
            padding-right: 70px;
            margin-bottom: 0;
        }
    }
}

.table-tinhnang {
    table {
        margin-bottom: 0;

        thead {
            th {
                border-bottom: 1px solid #dee2e6;

                &:first-child {
                    color: #212529;
                }

                .btn-default {
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
        }

        th,
        td {
            color: #4F064B;
            text-align: center;
            border-top: 0;

            &:first-child {
                text-align: left;
            }
        }

        tr {
            &:nth-child(2n) {
                td {
                    background: #F5F7FA;
                }
            }

            td {
                &:first-child {
                    width: 400px;
                }
            }

            &:last-child {
                td {
                    background: #fff;
                    border-top: 1px solid #dee2e6;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        table {
            th {
                div {
                    font-size: 11px;
                }
            }

            th,
            td {
                white-space: nowrap;
                font-size: 13px;
                padding: .75rem 5px;

                &:first-child {
                    white-space: pre-wrap;
                }
            }
        }

        .btn-default {
            font-size: 12px;
            padding: 0 15px;
            line-height: 32px;
        }
    }

    @media (max-width: 767px) {
        table {

            th,
            td {
                &:first-child {
                    white-space: nowrap;
                }
            }
        }
    }
}

.bg-agray {
    background: #F2F2F5;
}

.check-list-custom {
    .itemt {
        border: 1px solid #E4E4EB;
        border-radius: 12px;
        padding: 16px;
        background: #FAFAFC;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            border: 1px solid #E4E4EB;
            width: 15px;
            height: 15px;
            position: absolute;
            background: #fff;
            right: 16px;
            top: 16px;
            border-radius: 2px;
        }

        .time,
        p {
            color: #555770;
        }

        .title,
        .price {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 5px;
        }

        .price {
            line-height: 1;

            span {
                border-bottom: 1px solid;
                font-weight: 400;
            }
        }

        &.active {
            background: #750E6C;
            color: #fff;

            &::before {
                display: none;
            }

            .time,
            p {
                color: #E4E4EB;
            }
        }
    }

    &__v2 {
        display: flex;
        flex-wrap: wrap;

        .itemt {
            width: 174px;
            height: 94px;
            background: #fff;
            margin: 0 8px 8px 0;
            padding: 8px;

            .time {
                font-size: 10px;
                color: #C7C9D9
            }

            .name {
                font-size: 16px;
                position: absolute;
                bottom: 8px;
                left: 8px;
            }

            &::before {
                right: 8px;
                top: 8px
            }

            &::after {
                content: "";
                position: absolute;
                display: none;
                right: 13px;
                top: 10px;
                width: 5px;
                height: 9px;
                border: solid #750E6C;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.active {
                border: 1px solid #000000;

                &::before {
                    display: block
                }

                &::after {
                    display: block
                }
            }
        }

        @media (max-width: 576px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            row-gap: 10px;

            .itemt {
                width: 100%;
            }
        }
    }
}

//Detail customt
.detail_tin {
    .col-left {
        width: 308px;
    }

    .col-center {
        width: 476px;
        width: calc(100% - 578px);
        padding: 0 40px;
    }

    .col-right {
        width: 270px;

        .bg-agray {
            background: #FAFAFC;
            border-radius: 6px;
        }

        .grid {
            column-gap: 16px;
            row-gap: 16px;
        }
    }

    .chinh-sach {
        padding-left: 0;

        li {
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            svg {
                left: 0;
                width: 24px;
                height: 24px;
            }

            span {
                width: calc(100% - 24px);
                padding-left: 10px;
            }
        }
    }

    .tab-detail {
        display: flex;
        justify-content: space-between;

        a {
            color: #555770;
            font-size: 16px;
            padding-bottom: 8px;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: #1C1C28;
                font-weight: bold;
                border-bottom: 2px solid #1C1C28;
            }
        }
    }

    .content-main {
        padding-right: 50px;
    }

    .content-right {
        padding-left: 40px;

        .check-list-custom {
            column-gap: 12px;
            row-gap: 12px;

            .itemt {
                padding: 16px;

                &::before {
                    display: none;
                }

                .title {
                    font-size: 14px;
                    margin-bottom: 16px;
                }

                .price {
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }

            .flex {
                align-items: flex-end;
                justify-content: space-between;
            }
        }
    }

    .collapse-line {
        border: 1px solid #E4E4EB;
    }

    @media (max-width: 1199px) {
        .col-left {
            display: none;
        }

        .col-center {
            width: calc(100% - 270px);
            padding-left: 0;
        }

        .content-main {
            padding-right: 15px
        }

        .content-right {
            padding-left: 15px;

            .check-list-custom {
                .itemt {
                    .price {
                        font-size: 18px;
                    }
                }

                .flex {
                    .btn-default {
                        padding: 0 10px;
                        line-height: 30px;
                        font-size: 12px;
                    }
                }
            }
        }

        .tab-detail {
            a {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 991px) {
        .title-detail {
            br {
                display: none;
            }
        }

        .col-center {
            width: 100%;
            padding: 0;
            margin-bottom: 24px;
        }

        .col-right {
            width: 100%;

            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .content-main {
            padding-right: 15px
        }

        .content-right {
            padding-left: 15px;

            .check-list-custom {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .tab-detail {
            display: block;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            padding-bottom: 15px;

            a {
                margin-right: 15px;
            }
        }
    }

    @media (max-width: 576px) {
        .col-center {
            .grid__2 {
                grid-template-columns: repeat(1, 1fr);
                column-gap: 16px;
                row-gap: 16px;
            }
        }

        .col-right {
            .grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .content-right {
            .check-list-custom {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .txt_24 {
            font-size: 20px;
        }
    }
}

.service-rating {
    .itemt {
        .author {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .ava {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
            }

            .name {
                color: #6B6B6B;
                padding-left: 10px;

                h4 {
                    font-size: 16px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.85);
                    margin-bottom: 4px;
                }
            }
        }

        .des {
            margin-bottom: 16px;
        }

        .vote,
        .des {
            padding-left: 58px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: linear-gradient(270deg, #FFFFFF 6.77%, rgba(255, 255, 255, 0) 100%);
        box-shadow: none;
        border: 0;
        font-size: 30px;
        top: 0;
        bottom: 0;
        margin-top: 0;
        height: 100%;
        width: 160px;
        border-radius: 0;

        i {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -15px;
        }
    }

    .swiper-button-prev {
        background: none;
        width: 30px;

        i {
            left: 0;
            right: inherit;
        }
    }
}

.business-registration {
    &__left {
        width: 792px;
        width: calc(100% - 383px);
        padding-right: 24px;
    }

    &__right {
        width: 383px;

        .padding_30 {
            padding: 24px;

            @media (max-width: 767px) {
                padding: 15px;
            }
        }
    }

    .info-business {
        .price {
            display: flex;
            color: #000;

            .all {
                font-size: 28px;
                font-weight: bold;

                span {
                    font-weight: 400;
                    border-bottom: 1px solid;
                    line-height: 1;
                    display: inline-block;
                }
            }

            .note {
                margin-left: 20px;
                margin-top: 14px;
            }
        }

        .grid__2 {
            column-gap: 10px;
            row-gap: 10px;
        }
    }

    .step-business {
        .itemt {
            .name {
                display: block;
                font-weight: bold;
                position: relative;
                padding-left: 30px;

                &::before {
                    content: "";
                    background: #C4C4C4;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: 16px;
                    top: 8px;
                }
            }
        }

        ul {
            padding-left: 30px;
            margin-bottom: 24px;

            li {
                .confir_res {
                    border-radius: 6px;
                    border: 1px solid #E4E4EB;
                    background: rgba(255, 255, 255, 0.85);
                    padding: 6px 16px 6px 40px;
                    margin-bottom: 12px;
                    max-width: 530px;

                    .flex {
                        justify-content: space-between;
                    }

                    .checkmark {
                        top: 7px;
                        left: 15px;
                    }
                }
            }
        }
    }

    .box_thongtin {
        padding-left: 90px;
        margin-top: 50px;

        .box-service-charge {
            margin-bottom: 0;
        }

        .all {
            font-size: 24px;
            font-weight: bold;

            span {
                font-weight: 400;
                border-bottom: 1px solid;
                line-height: 1;
                display: inline-block;
            }
        }

        @media (max-width: 991px) {
            padding-left: 0;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
        }
    }

    .form-thongtin {
        max-width: 588px;

        .row {
            margin: 0 -4px
        }

        [class*="col-"] {
            padding: 0 4px;
        }
    }

    @media (max-width: 991px) {
        &__left {
            width: 100%;
            padding-right: 0;
        }

        &__right {
            width: 100%;
        }
    }
}

.box-service-charge {
    max-width: 560px;
    background: #F5F7FA;
    border: 1px solid #E4E4EB;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;

    .row {
        margin: 0 -5px;
    }

    [class*="col-"] {
        padding: 0 5px;
    }

    .year {
        a {
            border: 1px solid #E4E4EB;
            border-radius: 6px;
            line-height: 32px;
            display: inline-block;
            padding: 0 5px;
            margin-left: 1px;

            &.active {
                background: #750E6C;
                border: 1px solid #E4E4EB;
                color: #fff;
            }
        }
    }

    .collap {
        color: #E63535;
        font-weight: bold;
        display: inline-block;
        position: relative;

        &::before {
            content: "";
            border-bottom: 1px solid #E63535;
            border-right: 1px solid #E63535;
            width: 8px;
            height: 8px;
            position: absolute;
            right: -16px;
            top: 6px;
            transform: rotate(45deg);
        }
    }

    .doted {
        margin-bottom: 0;
        padding-left: 20px;

        li {
            list-style-type: disc;
        }
    }

    @media (max-width: 576px) {
        padding: 10px;
    }
}

.article-list-small {
    .article-itemt {
        .article-thumb {
            width: 155px;
        }

        .article-content {
            width: calc(100% - 155px);

            .title_new {}
        }
    }
}

.box_stream {
    width: 740px;
    width: calc(100% - 416px);
    padding-right: 44px;

    .article-itemt.full {
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 26px;

        .article-thumb {
            margin-bottom: 0;

            .thumb_img {
                border-radius: 0;
            }
        }

        .article-content {
            padding: 24px;

            .date {
                font-size: 14px;
            }

            .title_new {
                font-size: 24px;

                a {
                    color: #111;

                    &:hover {
                        color: var(--colormain);
                    }
                }
            }

            .more {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 1199px) {
        padding-right: 24px;
    }

    @media (max-width: 991px) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    @media (max-width: 576px) {
        .article-itemt.full {
            .article-content {
                padding: 15px;

                .title_new {
                    font-size: 20px;
                }
            }
        }
    }
}

.box_300 {
    width: 416px;

    .title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    @media (max-width: 991px) {
        width: 100%;
    }
}

.box-comment {
    textarea {
        font-size: 18px;
        color: #1C1C28;
        height: 180px;
        resize: none;
        margin-bottom: 24px;
    }
}

.article-other {
    .article-itemt {
        margin-bottom: 0;
        background: #F2F2F5;
        border-radius: 6px;
        overflow: hidden;

        .article-thumb {
            margin-bottom: 0;
        }

        .article-content {
            padding: 24px;
        }
    }

    @media (max-width: 991px) {
        .article-itemt {
            .article-content {
                padding: 15px;
            }
        }
    }
}

.page-info {
    &__menu {
        width: 285px;

        .padding_30 {
            padding: 24px;
        }

        .tab-default {
            display: block;
            margin-bottom: 0;

            a {
                display: block;
                border: 0;
                border-bottom: 1px solid #fff;
                padding: 6px 0;
                margin-bottom: 20px;
                font-size: 16px;
                color: #222222;
                font-weight: bold;
                background: none;
                border-radius: 0;
                line-height: 1.2;

                &.active {
                    color: #750E6C;
                    border-bottom: 1px solid #750E6C;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .menu {
            li {
                margin-top: 10px;

                a {
                    color: #555770;
                }

                &.active {
                    a {
                        color: var(--colormain);
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__content {
        width: 900px;
        width: calc(100% - 285px);
        padding-left: 123px;

        .padding_30 {
            padding: 24px;
        }

        .breadcrumb {
            background: none;
            padding: 0;
        }

        .collapse-line {
            border: 1px solid #E4E4EB;
            margin-bottom: 12px;

            &>a {
                font-weight: 500;
            }
        }

        .article-itemt {
            .article-thumb {
                .thumb_img {
                    border-radius: 0;
                }
            }

            .article-content {
                .des {
                    color: #555770;
                    margin-bottom: 0;
                }
            }
        }

        .box-help-us {
            background: none;
            padding: 0;
        }

        .list-video {
            .article-itemt {
                .article-thumb {
                    width: 220px;
                }

                .article-content {
                    width: calc(100% - 220px);
                }
            }
        }

        .detail_tin {
            .title_detail {
                font-size: 28px;
            }
        }
    }

    @media (max-width: 1199px) {
        &__content {
            padding-left: 24px;
        }
    }

    @media (max-width: 991px) {
        &__menu {
            width: 100%;
            order: 2;
            display: none;
        }

        &__content {
            padding-left: 0;
            width: 100%;
            order: 1;

            &.tab-content {
                &>div {
                    display: block !important;
                    margin-bottom: 24px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        &__content {
            .bg-white.padding_30 {
                padding: 15px;

                .article-itemt {
                    .article-content {
                        padding: 15px 0 0 0;
                    }
                }
            }

            .article-itemt {
                background: #fff;

                .article-thumb {
                    width: 100%;
                }

                .article-content {
                    width: 100%;
                    padding: 15px;
                }
            }

            .list-video {
                .article-itemt {
                    background: #fff;

                    .article-thumb {
                        width: 100%;
                    }

                    .article-content {
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.bg-q-a {
    background: linear-gradient(92.14deg, #4F064B 6.55%, #87037F 91.88%);
    padding: 78px 0;
    margin-bottom: 55px;
    text-align: center;
    color: #fff;

    .title-cate {
        color: #fff;
    }

    .search-wrap {
        max-width: 670px;
        position: relative;
        margin: 0 auto;

        input {
            width: 100%;
            background: #FFFFFF;
            border-radius: 6px;
            height: 55px;
            border: 0;
            padding: 0 50px 0 20px;
        }

        button {
            position: absolute;
            background: none;
            outline: 0;
            border: 0;
            width: 55px;
            height: 55px;
            right: 0;
            color: var(--colormain);
        }
    }

    @media (max-width: 991px) {
        padding: 38px 0;
        margin-bottom: 30px;

        .title-cate {
            font-size: 24px;
        }
    }
}

.page_QA {
    padding-top: 55px;
    margin-top: -55px;

    @media (max-width: 991px) {
        padding-top: 30px;
        margin-top: -30px;
    }
}

.box-download {
    .itemt {
        display: block;
        margin-bottom: 12px;
        background: #FFFFFF;
        border-radius: 6px;
        color: #0063F7;
        font-size: 16px;
        padding: 20px;

        i {
            margin-right: 8px;
        }
    }
}

.page-pay {
    padding-top: 40px;

    .list-cart {
        .itemt {
            background: #FFFFFF;
            border-radius: 12px;
            padding: 16px;
            margin-bottom: 8px;

            .row {
                align-items: center;
            }

            .amount {
                justify-content: flex-end;
            }

            .article-itemt {
                margin-bottom: 0;

                .article-thumb {
                    width: 103px;
                }

                .article-content {
                    padding-left: 24px;
                    width: calc(100% - 103px);

                    .title_new {
                        margin-bottom: 5px;
                    }

                    .des {
                        margin-bottom: 10px;
                    }

                    .delete {
                        color: #FF3B3B;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .chinh-sach {
        text-align: center;

        .icon {
            color: var(--colormain);
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            margin: 0 auto;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    @media (max-width: 1199px) {
        .list-cart {
            .itemt {
                .article-itemt {
                    .article-thumb {
                        width: 90px;
                    }

                    .article-content {
                        padding-left: 12px;
                        width: calc(100% - 90px);
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 20px;

        .list-cart {
            .itemt {
                padding: 10px 10px 5px 10px;

                .article-itemt {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.classcode-voucher {
    position: relative;

    .form-control {
        border: 1px solid #E4E4EB;
        background: #FAFAFC;
        border-radius: 6px;
        padding-right: 70px;
        height: 44px;
        font-size: 14px;
    }

    .apply {
        color: #0063F7;
        position: absolute;
        top: 11px;
        right: 15px;
    }
}

.box-success-pay {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
    width: 728px;
    max-width: 100%;
    margin: 0 auto;

    .title {
        text-align: center;
        color: #05A660;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid #E4E4EB;
        margin-bottom: 24px;
        padding-bottom: 24px;

        img {
            margin-right: 10px;
        }
    }

    .content {
        font-size: 16px;
        color: #4F064B;

        &__v2 {
            color: #1C1C28;
        }

        .row {
            p {
                margin-bottom: 5px;
            }
        }
    }

    @media (max-width: 576px) {
        padding: 15px;

        .title {
            font-size: 18px;
            margin-bottom: 16px;
            padding-bottom: 16px;

            img {
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }
        }
    }
}