/* Reset CSS detail */
.detail_tin {
    position: relative;
    color: rgba(0, 0, 0, .85);
    .title-detail {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 15px 0;
        position: relative;

        &::before {
            content: "";
            background: url(images/icons/bg-title.png) no-repeat;
            background-size: contain;
            width: 93px;
            height: 103px;
            position: absolute;
            top: -30px;
            left: -30px;
            opacity: 0.4;
            z-index: -1;
        }
    }

    .date {
        color: #565656;
        margin-bottom: 20px;
    }

    .topDetail {
        margin-bottom: 15px;
        font-size: 13px;

        .item {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        svg {
            fill: #B76E23;
            margin-right: 5px;
        }

        .comment {
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .next-prev-article {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        display: flex;
        color: #263A5A;
        font-size: 12px;
        font-weight: bold;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 15px;

        span {
            margin-left: 5px;
            background: #E6EAF1;
            width: 41px;
            height: 33px;
            display: inline-block;
            text-align: center;
            line-height: 33px;
        }

        .prev {
            span {
                margin-left: 0;
                margin-right: 5px;
            }

            svg {
                transform: rotate(180deg);
            }
        }
    }

    p.lead {
        font-weight: bold;
        font-size: 16px;

        .slogan {
            background: #303030;
            color: #fff;
            padding: 2px 5px
        }
    }

    ul {
        padding-left: 20px;

        li {
            margin-bottom: 5px;
            list-style-type: disc;
        }
    }

    ol {
        padding-left: 20px;

        li {
            margin-bottom: 5px;
            list-style-type: inherit;
        }
    }

    .embed_video {
        text-align: center;
        margin-bottom: 15px;

        iframe {
            max-width: 100%;
        }
    }

    // h2,
    // h3 {
    //     font-size: 25px;
    //     font-weight: 700;
    //     margin: 0 0 10px 0;
    //     line-height: 1.2;
    // }

    p {
        line-height: 1.4;
        margin-bottom: 15px;
        text-align: justify;

        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .Images {
        text-align: center;

        img {
            margin: 0 auto;
            display: block;
        }

        span {
            display: block;
            margin: 10px 0;
            color: #666;
            font-size: 14px;
        }
    }

    .days {
        font: 700 25px var(--font1);
        text-transform: uppercase;
    }

    .social{
        align-items: center;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        span{
            margin-right: 6px;
        }
        a{
            width: 38px;
            height: 38px;
            border: 1px solid rgba(0, 0, 0, 0.06);
            border-radius: 50%;
            text-align: center;
            margin-right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 2px;
            &:hover{
                background: var(--colormain);
                border: 1px solid var(--colormain);
                color: #fff;
            }
        }
    }

    .social_pin {
        position: absolute;
        left: 60px;
        top: 300px;

        a {
            display: block;
            margin-bottom: 20px;
        }
    }

    .author {
        color: #283B4F;
    }

    .share_face {
        background: #507BCA;
        border-radius: 3px;
        width: 250px;
        height: 55px;
        font-size: 18px;
        line-height: 55px;
        color: #fff !important;
        display: inline-block;
        cursor: pointer;
        position: relative;

        svg {
            width: 18px;
            height: 18px;


        }

        .icon {
            position: absolute;
            left: 20px;

            &::before {
                content: "";
                background: rgba(255, 255, 255, 0.2);
                height: 20px;
                width: 1px;
                position: absolute;
                top: 18px;
                right: -12px;
            }
        }
    }

    @media (max-width:1025px) {
        .title_detail {
            font-size: 25px
        }
    }
}
